<div class="container mt-5  mb-5">
    <div class="row mt-3">
        <div class="col-md-4 border-right border-danger">
            <h1 class="d-inline-block">{{this.heroe.nombre | uppercase}}</h1>
            <h3 class="font-weight-light d-inline-block pl-2">({{this.heroe.aparicion | date:'yyyy'}})</h3>

            <div class="animated fadeIn  text-center border-0">
                <img [src]="heroe.img" class="img-fluid" [alt]="this.heroe.nombre">
            </div>
            <div class="animated fadeIn  text-center border-0">
                <img *ngIf="heroe.casa=='Marvel'" src="assets/img/marvel-logo.png" class="w-50"
                    [alt]="this.heroe.nombre">
                <img *ngIf="heroe.casa=='DC'" src="assets/img/dc-logo.jpg" class="w-50"
                    [alt]="this.heroe.nombre">
            </div>
            <br>
            <button class="btn btn-block btn-outline-danger my-2 my-sm-0" type="submit"
                (click)="regresar()">regresar</button>
        </div>
        <div class="col-md-8">
            <h3>{{this.heroe.nombre}}</h3>
            <hr>
            <p>{{this.heroe.bio}}</p>
        </div>
    </div>
</div>